// Place all the styles related to the Generator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.link-container {
    display: flex;
    padding: 10px 5px;
    margin: 10px 0;
    gap: 10px;
    border-radius: 6px;
    background-color: rgb(250, 250, 250);
}

.generate-button {
    padding: 10px 20px;
    border-radius: 2px;
    background-color: rgb(100, 167, 200);
    width: fit-content;
    letter-spacing: .5px;
    margin-top: 20px;
    > a {
        text-decoration: none;
        color: white;
    }
    &:hover {
        filter: brightness(110%);
        cursor: pointer;
    }
}